#retail-card {
margin-top: 10px;
margin-bottom: 15px;
margin-right: 20px;
}

.retail-header {
    background-color: #9dc2ce;
    color: #343a40;

}

.retail-footer {
    color: #777;
    font-size: 10pt;
}

.card-list {
    color: #343a40;
}

.list-item-retail {
    margin-top: 15px;
    background-color: #f3f3f3;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
}

.scroll-btn-retail {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.next-btn {
    margin-left:10px;
}

.fa-check {
    color: green;
}

.fa-times {
    color: red;
}