#aboutusjumbotron-section {
    margin-top: 10px;
    margin-bottom: 0px;
}

.aboutusjumbo-h2 {
    text-align: center;   
}

.aboutusjumbo-p {
    font-size: 15px;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
}

.maskpg {
    background-image: url("../../assets/images/aboutus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.blue {
    color: blue;
}

.btn.blue {
    background-color: blue;
    color: white;
}