.jumbotron {
    background-color: #9dc2ce;
    padding-top: 20px;
    padding-bottom: 20px;
}

.aboutus-header {
    color: #343a40;
}

.chart-pic {
    margin-top: 10px;
}

.team-section {
    background-color: #e4eef1;
    margin-top: 10px;
}

.members {
    text-align: center;
    margin-top: 13px;
}

.site-description {
    margin-top: 10px;
    padding: 10px;
    
}

.names {
    margin-left: 10px;
}