#jumbotron-section {
    margin-top: 10px;
    margin-bottom: 0px;
}

.jumbo-h2 {
    text-align: center; 
    color: #343a40;  
}

.jumbo-p {
    font-size: 16px;
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    color: #777;
}