#login-card {
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
    .login-header {
        background-color: #343a40;
        color: white;
    }

    .login-footer {
        color: #777;
        font-size: 10pt;
    }

 