#restaurant-card {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    }
    
    .restaurant-header {
        background-color: #364f6b;
        color: white;
    }

    .restaurant-footer {
        color: #777;
        font-size: 10pt;
    }

    .card-list {
        color: #343a40;
    }

    .list-item-address {
        margin-top: 15px;
    }    

    .scroll-btn {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }

    .next-btn {
        margin-top: 0;
        margin-left:10px;
    }

    .back-btn {
            margin-top: 0;
    }

    .fa-check {
        color: green;
    }

    .fa-times {
        color: red;
    }

    .list-item-rest {
        margin-top: 15px;
        background-color: #f3f3f3;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
    }
    