#retail-profile-section {
    padding: 25px;
    background-color: whitesmoke;
}

.profile-background {
    background-color: white;
}

#retail-profile-header {
    padding: 5px;
    background-color: #9dc2ce;
}

.retail-name {
    padding-top: 5px;
    color: #343a40
}

.edit-btn {
    margin-right: 10px;
    margin-top: 3px;
}

.save-btn {
    margin-top: 3px; 
}

.delete-btn {
    margin-right: 10px;
    margin-top: 3px;
}


.categories {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #343a40
}

.social-media {
    margin-top: 8px;
    color: #343a40
  
}

.social-btn {
    font-size: 12pt;
}

.form-inputs {
    border: none;
    background-color: white;
}


